version: '3.8'

services:
  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    restart: unless-stopped
    ports:
      - "8081:8081"      # Nexus Web UI
      - "8082:8082"      # Docker Registry (hosted)
      - "8083:8083"      # Docker Registry (group)
    volumes:
      - nexus-data:/nexus-data
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms2g -Xmx2g -XX:MaxDirectMemorySize=2g
    networks:
      - nexus-network

volumes:
  nexus-data:
    driver: local

networks:
  nexus-network:
    driver: bridge


# 초기 id: admin
# pw: docker exec -it nexus cat /nexus-data/admin.password 위 명령어를 통해 나오는 uuid 로 로그인 후 초기 패스워드 설정필요